@import "~bootstrap/scss/bootstrap";

header{
    display: flex;
    align-items: center;
    background-color: rgb(0, 115, 255);
    height: 80px;
}

main{
    height: calc(100vh - 80px);
    .wrapper{
        background-color: rgb(113, 113, 113);
    }
}